<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="consoleLayoutPattern" value="%-20(%d{yyyyMMdd_HH:mm:ss.SSS} [%logger][%thread])[%level]%msg%n"/>
    <property name="SYS_LOG_DIR" value="target"/>
    <property name="LOG_FILE" value="app.log"/>
    <property name="fileLayoutPattern" value="%-20(%d{yyyyMMdd_HH:mm:ss.SSS} [%logger{10}][%thread])[%level]%msg%n"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout name="StandardFormat" class="ch.qos.logback.classic.PatternLayout">
            <pattern>${consoleLayoutPattern}</pattern>
        </layout>
    </appender>
    <appender name="LOG_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${SYS_LOG_DIR}/${LOG_FILE}</file>
        <file class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${SYS_LOG_DIR}/%d{yyy-MM-dd}/${LOG_FILE}_%d{yyyy-MM-dd}_%i.zip
            </fileNamePattern>
            <maxHistory>7</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout name="StandardFormat" class="ch.qos.logback.classic.PatternLayout">
            <pattern>${fileLayoutPattern}</pattern>
        </layout>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_ROLLING"/>
    </root>
</configuration>